<div id="<%= dom_id article %>">
  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <p>
    <% if article.image? %>
      <strong>Img:</strong>
      <div>
        <%= image_tag article.image.url, style: "width:200px; height:200px;" %>
      </div>
    <% end %>
  </p>
<p>want report this article ?</p>

</div>
