<div id="<%= dom_id article %>">
  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= article.img %>
  </p>

  <p>
    <strong>Reports count:</strong>
    <%= article.reports_count %>
  </p>

</div>
